.EmojiCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 10px;
  background-color: #f5b1ff;
  border-radius: 10px;
  border: none;
}

.EmojiIcon {
  width: 100px;
}
