.mainContainer {
  display: flex;
  background-image: linear-gradient(to right, #ed52ed, #bbbbf5);
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.gameContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10vh;
  border-radius: 15px;
  height: 75vh;
  width: 50vw;
}
