.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
  background-color: #ef86ff;
  width: 100vw;
}

.logoConntainer {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 300px;
}

.TitleHeading {
  width: fit-content;
  color: white;
  width: 300px;
  justify-content: flex-start;
  align-items: center;
}

.ScoreContainer {
  display: flex;
  color: white;
  margin-right: 80px;
  justify-content: center;
  align-items: center;
}

.scoreHeading {
  margin-right: 50px;
}
.topScoreHeading {
  margin-right: 50px;
}
